# Set default behaviour, in case users don't have core.autocrlf set.
*          text=auto

*.jar binary
*.aar binary
*.so binary
*.apk binary
*.bmp binary
*.jpg binary
*.png binary

#$ find . -type f | perl -ne 'print $1 if m/\.([^.\/]+)$/' | sort -u
#aar
#aidl
#apk 
#gitattributes
#h
#jar
#md5
#pom
#sample
#sha1
#so
#txt
#xml

#not sure how the client module.apk is in there...
#waverepo (master)
#$ find . -type f | perl -ne 'print $1 if m/\.([^.\/]+)$/' | sort -u
#aar
#apk
#bat
#bmp
#c
#cpp
#glsl
#gradle
#h
#jar
#java
#jpg
#json
#md
#md5
#mk
#png
#pom
#properties
#sha1
#txt
#xml


# Java sources
*.java          text diff=java
*.kt            text diff=kotlin
*.groovy        text diff=java
*.scala         text diff=java
*.gradle        text diff=java
*.gradle.kts    text diff=kotlin

#other that show up as modified when they shouldn't when copying over by hand
*.md            text
*.pom text
*.xml text
*.json text
*.txt text
*.glsl text
README text
*.mk text
*.cpp text
*.h text
*.gradle text
*.properties text
