
*.jar binary
*.aar binary
*.so binary
*.apk binary
*.bmp binary
*.jpg binary
*.png binary

#$ find . -type f | perl -ne 'print $1 if m/\.([^.\/]+)$/' | sort -u
#aar
#aidl
#apk 
#gitattributes
#h
#jar
#md5
#pom
#sample
#sha1
#so
#txt
#xml

#not sure how the client module.apk is in there...
#waverepo (master)
#$ find . -type f | perl -ne 'print $1 if m/\.([^.\/]+)$/' | sort -u
#aar
#apk
#bat
#bmp
#c
#cpp
#glsl
#gradle
#h
#jar
#java
#jpg
#json
#md
#md5
#mk
#png
#pom
#properties
#sha1
#txt
#xml
